
<div class="card-body">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th style="width: 10px">#ID</th>
      <th>Name</th>
      <th>Hours</th>
      <th style="width: 40px">Cost</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="s : ${subjects}">
          <td th:text="${s.id}"></td>
          <td th:text="${s.name}"></td>
          <td th:text="${s.hours}"></td>
          <td th:text="${s.cost}"></td>
          <td>
            <a th:href="@{/subjects/edit/{id}(id=${s.id})}" class="btn btn-primary">Edit</a>
            <a onclick="return confirm('chắc chắn xóa sinh viên?')" th:href="@{/subjects/delete/{id}(id=${s.id})}" class="btn btn-danger">
              Delete
            </a>
          </td>

        </tr>
    </tbody>
  </table>
  <a href="/subjects/create" class="btn btn-outline-primary">
    Create a new subject
  </a>
</div>